.results {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.results__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: -1;
    height: 175%;
    filter: blur(17px) brightness(.7);
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    from {height: 125%;}
    to {height: 175%;}
}

.results__sidebar {
    width: 200px;
    display: flex;
    left: 5%;
    top: 5%;
    height: 90%;
    gap: 20px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    color: white;
}

.results__searchbar {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.results__searchInput, .results__searchBtn {
    border: none;
    outline: none;
    background: none;
    height: 100%;
}

.results__searchInput {
    width: 98px;
    padding: 0 7px 0 19px;
    letter-spacing: 1px;
    color: white;
}

.results__searchInput::placeholder {
    color: white;
}

.results__searchBtn {
    cursor: pointer;
    padding-right: 12px;
}

.results__loupe {
    width: 20px;
    height: 100%;
    filter: invert(1);
}

.results__title {
    position: absolute;
    left: -90px;
    top: 50%;
    letter-spacing: 8px;
    line-height: 10px;
    font-size: 20px;
    transform: translateX(50%) rotate(-90deg);
}

.results__menu-line {
    height: calc(100% - 60px);
    width: 100%;
    position: relative;
}

#results__menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#results__menu::-webkit-scrollbar {
    display: none;
}

.results__menu-line::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-left: 2px dashed #5d5d5d;
}

#results__menu input {
    display: none;
}

#results__menu label {
    position: relative;
    width: 100%;
    cursor: pointer;
}

#results__menu label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #d9d9d9;
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 10px);
    transition: .3s;
}

#results__menu label:has(input:checked)::before {
    background: #fff;
    width: 50px;
}

#results__menu label span {
    position: relative;
    transition: left .3s;
    left: calc(50% + 20px);
}

#results__menu label:has(input:checked) span {
    left: calc(50% + 50px);
}

.results__window {
    color: #fff;
    height: calc(90% - 50px);
    width: calc(90% - 220px);
    position: absolute;
    margin-top: 50px;
    top: 5%;
    right: 5%;
    backdrop-filter: blur(15px);
    background: var(--dark-semi-transparent-bg);
    border-radius: 40px;
    padding: 30px 40px;
}

.results__shift {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}

.results__shift__btn,
.results__shift__currentShift {
    height: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 20px;
    display: grid;
    place-items: center;
    background: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.results__shift__btn {
    width: 64px;
    cursor: pointer;
    transition: box-shadow .2s ease-in;
}

.results__shift__btn:not(.--blocked):hover {
    box-shadow: 0 0 6px white;
}

.results__shift__btn.--blocked {
    border-color: #5d5d5dd5;
    color: #5d5d5dd5;
    cursor: default;
}

.results__shift__currentShift {
    width: 192px;
    background: white;
    color: #1d1d1d;
    position: relative;
}

.results__shift__currentShift::before {
    position: absolute;
    content: "Przesunięcie";
    top: -100%;
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    left: 50%;
    transform: translateX(-50%);
}

.results__window {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.results__window__header {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results__window__header p {
    font-size: 17px;
}

.results__window__header div {
    display: flex;
    gap: 16px;
}

.results__window__header button {
    width: 30px;
    border: none;
    display: grid;
    place-items: center;
    background: none;
    filter: invert(1);
    cursor: pointer;
}

.results__window__header button img {
    transition: .3s filter;
}

.results__window__header button:hover img {
    filter: drop-shadow(0 0 6px black);
}

.results__window__box__mass {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 18px;
}

.results__window__box__mass p {
    font-size: 15px;
}

.results__window__btn {
    background: none;
    color: white;
    padding: 10px;
    font-size: 17px;
    border-radius: 30px;
    border: 4px solid white;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .3s box-shadow;
}

.results__window__btn:hover {
    box-shadow: 0 0 6px white;
}

.results__window__box {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.results__proteinbox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    overflow: auto;
    height: calc(100% - 160px);
}

#proteinator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
}

:is(.results__proteinbox, .results__protein-text-box__textbox)::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

:is(.results__proteinbox, .results__protein-text-box__textbox)::-webkit-scrollbar-track {
    background: #00000000; 
}
 
:is(.results__proteinbox, .results__protein-text-box__textbox)::-webkit-scrollbar-thumb {
    background: #88888820; 
    border-radius: 10px;
}

:is(.results__proteinbox, .results__protein-text-box__textbox)::-webkit-scrollbar-thumb:hover {
    background: #55555588; 
}

::-webkit-scrollbar-corner {
    background: #00000000;
}

.results__proteinbox:has(p) {
    display: grid;
    place-items: center;
}

.results__proteinbox p {
    font-size: 1.4em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.results__protein-text-box {
    color: #fff;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(15px);
    background: var(--dark-semi-transparent-bg);
    border-radius: 40px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.results__protein-text-box__border {
    border: 4px solid #cccccc94;
    border-radius: 16px;
    background: var(--dark-semi-transparent-bg);
    overflow: hidden;
}

.results__protein-text-box__textbox {
    font-family: monospace;
    font-size: 1.3em;
    min-width: 300px;
    max-width: 700px;
    min-height: 150px;
    max-height: 500px;
    padding: 5px 10px;
    word-wrap: break-word;
    text-align: justify;
    user-select: text;
    overflow-y: auto;
}

.results__protein-text-box__textbox::selection {
    background: gray;
}

.results__protein-text-box__textbox::-webkit-scrollbar-track {
    margin-right: 10px;
}

.d-none {
    display: none !important;
}

.results__back {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #00000000;
    border: none;
    border-radius: 50%;
    left: -26px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: filter .3s;
}

.results__back:hover {
    filter: drop-shadow(0 1px 3px white);
}

.results__back img {
    filter: invert(1);
}